name: Traffic Hourly Collector

on:
  schedule:
    - cron: '0 * * * *'   # chạy mỗi giờ
  workflow_dispatch:

permissions:
  contents: write

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: pip install requests pandas

      - name: Run traffic script
        env:
          API_KEY: ${{ secrets.API_KEY }}
        run: python testapi1.py

      - name: Commit CSV file
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add traffic_hourly.csv
          git commit -m "Update hourly traffic data" || echo "No changes"
          git push
